/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"); */
@font-face {
    font-family: 'GeneralSans';
    src: url('./font/GeneralSans-Medium.otf') format('.otf');
    /* ou .woff/.otf */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    --scroll-duration: 2000ms; /* Duração da rolagem personalizada */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    scroll-behavior: auto;
}

.team {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-family: "General Sans", sans-serif;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    height: 380px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* Alinha o conteúdo verticalmente */
    justify-content: space-between;
    /* Distribui o conteúdo */
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-member img {
    width: 100%;
    /* Ajusta a largura para caber no contêiner */
    max-width: 250px;
    /* Limita a largura máxima */
    height: auto;
    /* Ajuste a altura automaticamente para manter a proporção */
    border-radius: 2%;
    object-fit: cover;
    margin-bottom: 15px;
    /* Adiciona espaço entre a imagem e o conteúdo */
}

h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    color: #333;
}

p {
    font-weight: lighter;
    font-size: 0.9em;
    color: #777;
}

.linkedin-btn {
    display: inline-block;
    margin-top: auto;
    /* Empurra o botão para o final */
    padding: 10px 20px;
    background-color: #49490E;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.linkedin-btn:hover {
    background-color: #AFAF22;
}

.po-scrum {
    font-size: 0.9em;
    color: #777;
}
